body {
    color: #343434;
    background-color: #F2F3F5;
    font-family: Poppins,sans-serif;
}
.wrap {
    min-height: 100vh;
}
.container {
    max-width: 1170px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container {
        padding: 0 30px;
    }
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-50 {
    margin-top: 50px;
}
.text-center {
    text-align: center;
}
.maintitle {
    font-size: 35px;
    font-weight: 500;
}
.content {
    font-size: 16px;
    color: #AFB0B1;
}
.grid-container {
    grid-template-columns: auto auto auto;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 35px;
}
.grid-items {

}
.form-control {
    display: block;
    width: calc(100% - 20px);
    height: 2rem;
    padding: 0 10px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 100%!important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.uploaded {
    width: calc(100% - 14px);
    min-height: 350px;
    padding: 7px;
    outline: 0;
    font-size: 14px;
    border: solid 1px #ced4da;
    border-radius: .25rem;
    background-color: #fff;
}
